.why-choose-our-platform {
    padding: 50px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.why-choose-our-platform h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    align-self: start;
text-align: left;
}
 

.feature {
    margin-top: 30px;
    margin-bottom: 30px;
    display:block;
    width: 100%;

}

.features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.feature h3 {
    display: inline-block;
    font-size: 1.75rem;
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.feature p {
    font-size: 1rem;
    color: #777;
    line-height: 1.5;
    
}